.icon-btn{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.655);
    background-color:transparent;
    margin: 20px 0;
    padding: 10px 10px;
    justify-content: space-evenly;
}
.fb{
    color: rgb(41, 41, 178);
    font-size: 28px;
}